body {
    background: url('/imagenes/fondo\ verde.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(132, 176, 186, 0.956); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 200px rgba(200, 5, 5, 0.1);
}
